# Created by .ignore support plugin (hsz.mobi)
/node_modules/

#Java templates
*.class

#Package files
*.jar
*.war
*.ear

#macOS templates
*.DS_Store
.AppleDouble
.LSOverride

#InteliJ Project files
.idea
.idea/*.xml
*.iml
out
gen
build
rabel.xml

#Compiled files
/target/
**/target
/example

# Gradle
.gradle
/build/
.gradletasknamecache