#React modules
**/node_modules/
src/main/React_Client/.eslintcache

#Java templates
*.class

#Package files
*.jar
*.war
*.ear

#macOS templates
*.DS_Store
.AppleDouble
.LSOverride

#InteliJ Project files
.idea
.idea/*.xml
*.iml
out
gen
build
rabel.xml

#Compiled files
/target/
**/target
/example

# Gradle
.gradle
/build/
.gradletasknamecache
/.gradle/
.gradle/6.7.1/fileHashes/fileHashes.bin
.gradle/6.7.1/fileHashes/fileHashes.lock
.eslintcache

# Caches
caches
